[submodule "workload/llm/AQLM"]
	path = workload/llm/AQLM
	url = https://github.com/Vahe1994/AQLM.git
[submodule "workload/anns/faiss-quickeradc"]
	path = workload/anns/faiss-quickeradc
	url = https://github.com/technicolor-research/faiss-quickeradc.git
