[submodule "workload/llm/AQLM"]
	path = workload/llm/AQLM
	url = https://github.com/Vahe1994/AQLM.git
[submodule "workload/anns/faiss-quickeradc"]
	path = workload/anns/faiss-quickeradc
	url = https://github.com/technicolor-research/faiss-quickeradc.git
[submodule "workload/llm/gptvq"]
	path = workload/llm/gptvq
	url = https://github.com/Qualcomm-AI-research/gptvq.git
[submodule "workload/llm/VPTQ"]
	path = workload/llm/VPTQ
	url = https://github.com/microsoft/VPTQ.git
[submodule "workload/llm/T-MAC"]
	path = workload/llm/T-MAC
	url = https://github.com/microsoft/T-MAC.git
[submodule "ara_lut"]
	path = ara_lut
	url = https://github.com/wh-xu/ara_lut.git
